.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 56px;
  
  background: $colorMain;
  border-radius: 8px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;

  cursor: pointer;
  transition-duration:$transitionDuration ;
  transition-property: box-shadow, background-color;

  &:hover {
    background-color: #144ED4;
    box-shadow: 0 0 10px $colorMain;
  }
}